#image-container {
    width: auto;
    height: 500px;
    margin: 5px;

    overflow: scroll ! important;

    border: 1px solid var(--box-colour);

    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

canvas {
    overflow: visible ! important;
}

svg.image {
    --overlay-background: hsla(0, 0%, 100%, 1);

    --label-background-colour: hsla(219, 82%, 95%, 0.1);
    --label-border-colour: hsla(219, 75%, 25%, 0.1);

    --star-stroke-width: 0.01px;
    --low-star-colour: rgba(50, 50, 180, 0.7);
    --good-star-colour: rgba(50, 180, 50, 0.7);
    --high-star-colour: rgba(180, 50, 50, 0.7);
    --saturated-star-colour: rgba(180, 50, 50, 0.7);

    --selected-catalog-star-colour: rgba(255, 255, 255, 0);
    --selected-catalog-star-stroke-colour: hsla(131, 95%, 45%, 1);
    --image-star-colour: rgba(200, 50, 50, 0.7);
    --image-star-stroke-colour: rgba(180, 45, 45, 0.7);
    --saturated-image-star-colour: rgba(200, 255, 255, 0);
    --saturated-image-star-stroke-colour: hsla(61, 95%, 45%, 1);

    position: absolute;
    top: 0;
    left: 0;
}

svg.image .overlay {
    stroke: rgba(0, 0, 0, 0);
    fill: rgba(0, 0, 0, 0);
}

svg.image .photometry-low {
    stroke: var(--low-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--low-star-colour);
}

svg.image .photometry-good {
    stroke: var(--good-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--good-star-colour);
}

svg.image .photometry-high {
    stroke: var(--high-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--high-star-colour);
}

svg.image .photometry-saturated {
    stroke: var(--saturated-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--saturated-star-colour);
}

svg.image circle.selected {
    stroke: var(--selected-catalog-star-stroke-colour);
    fill: var(--selected-catalog-star-colour);
}

svg.image text.starImageLabel {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 16px;
    stroke: var(--text-colour);
}

svg.image rect.starImageLabel {
    stroke: var(--label-background-colour);
    fill: var(--label-border-colour);
}
