#imageContainer {
    width: auto;
    height: 500px;
    margin: 5px;

    overflow: scroll ! important;

    border: 1px solid var(--box-colour);

    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

canvas {
    overflow: visible ! important;
}

svg.image {
    --overlay-background: hsla(0, 0%, 100%, 1);

    --label-background-colour: hsla(219, 82%, 95%, 0.2);
    --label-border-colour: hsla(219, 75%, 25%, 0.2);

    --star-stroke-width: 0.01px;
    --low-star-colour: rgba(76, 76, 181, 0.5);
    --good-star-colour: rgba(76, 181, 76, 0.5);
    --high-star-colour: rgba(181, 76, 76, 0.5);
    --saturated-star-colour: rgba(181, 76, 76, 0.5);
    --variable-star-colour: rgba(200, 50, 255, 1);
    --selected-star-colour: rgba(230, 200, 50, 1);

    position: absolute;
    top: 0;
    left: 0;
}

svg.image .overlay {
    stroke: rgba(0, 0, 0, 0);
    fill: rgba(0, 0, 0, 0);
}

svg.image .no-image-hide {
    display: none;
}

svg.image .no-image-all {
    stroke: rgb(205, 205, 205);
    stroke-width: 1;
}

svg.image .no-image-background {
    fill: rgb(240, 240, 240);
}

svg.image .no-image-chevron {
    fill: rgb(210, 210, 210);
}

svg.image .no-image-text-container {
    fill: rgb(210, 210, 210);
}

svg.image .no-image-text {
    stroke: rgb(150, 150, 150);
    fill: rgb(150, 150, 150);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 50px;
}

svg.image .photometry-low {
    stroke: var(--low-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--low-star-colour);
}

svg.image .photometry-good {
    stroke: var(--good-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--good-star-colour);
}

svg.image .photometry-high {
    stroke: var(--high-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--high-star-colour);
}

svg.image .photometry-saturated {
    stroke: var(--saturated-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--saturated-star-colour);
}

svg.image .variable {
    stroke: var(--variable-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--variable-star-colour);
}

svg.image .selected {
    stroke: var(--selected-star-colour);
    stroke-width: var(--star-stroke-width);
    fill: var(--selected-star-colour);
}

svg.image .not-shown {
    display: none;
}

svg.image text.starImageLabel {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 22px;
    stroke: var(--text-colour);
}

svg.image rect.starImageLabel {
    stroke: var(--label-background-colour);
    fill: var(--label-border-colour);
}
