:root {
    --main-background-colour: hsla(200, 5%, 95%, 1);
    --popup-screen-background-colour: rgba(51,51,51,0.7);

    --text-colour: hsla(20, 75%, 15%, 1);

    --large-margin-size: 10px;
    --small-margin-size: 5px;

    --row-border-color: hsla(200, 100%, 33%, 1);
    --row-background-colour: hsla(200, 5%, 95%, 1);

    --control-text-color: hsla(200, 5%, 95%, 1);
    --control-background-color: hsla(20, 75%, 15%, 1);
    --control-disabled-text-color: hsla(0, 5%, 95%, 1);;
    --control-disabled-background-color: hsla(0, 5%, 95%, 1);

    --thin-table-border: 1px solid var(--control-background-color);
    --thick-table-border: 3px solid var(--control-background-color);
}

body {
    background-color: var(--main-background-colour);
    color: var(--text-colour);
}

h1 {
    margin: var(--large-margin-size);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 48px;
}

div.row {
    background-color: var(--row-background-colour);
    border: 2px solid var(--box-color);
    margin: var(--large-margin-size);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

div.row-container {
    display: inline-block;
    border: none;
    margin: var(--small-margin-size);
    flex: auto;
}

button.menu, select {
    font-size: 16px;
    color: var(--control-text-color);
    background-color: var(--control-background-color);
    /*border: 1px solid var(--box-color);*/
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

button.menu {
    height: 50px;
    border-radius: 5px;
}

button.menu:disabled {
    color: var(--disabled-control-text-color);
    background-color: var(--disabled-control-background-color);
}

div.popup-background {
    width: 100%;
    height: 100%;

    background-color: var(--popup-screen-background-colour);

    text-align: center;

    position: fixed;
    left: 0;
    top: 0;
}

div.popup-container1 {
    width: 100%;
    top: 400px;
    margin-top: -200px;

    position: fixed;
}

div.popup-container2 {
    width: 800px;
    height: 400px;
    margin: 5px;

    overflow: scroll ! important;

    border: 1px solid var(--box-colour);
    background-color: var(--row-background-colour);
    position: inline-block;
    margin: 0px auto;
}

table.popup-table {
    table-layout: fixed;
}

table.popup-table thead {
    overflow: visible ! important;
    font-weight: bold;
    font-size: 18px;
}

table.popup-table tbody {
	overflow: visible ! important;
}

table.popup-table tbody, table.popup-table thead {
	display: block;
}

table.popup-table, table.popup-table th, table.popup-table td {
	border: var(--thin-table-border);
	border-collapse: collapse;
}

table.popup-table, table.popup-table th {
    border: var(--thick-table-border);
}
