.star-list-table .x-pixel, .star-list-table .y-pixel {
	width: 60px;
}

.star-list-table .ra, .star-list-table .dec {
	width: 120px;
}

.star-list-table .mag {
	width: 100px;
}

.star-list-table .id {
    width: 200px;
}

.star-list-table td.x-pixel, .star-list-table td.y-pixel, .star-list-table td.mag {
	text-align: right;
}

.star-list-table td.ra, .star-list-table td.dec {
	text-align: center;
}

.star-list-table td {
	font-family: monospace;
	font-size: 12px;
}

.star-list-table th, .star-list-table td {
	padding: 2px 5px 2px 5px;
}

.star-list-table tr.selected {
	background-color: #ff5555;
}
