.star-list-x-pixel, .star-list-y-pixel {
	width: 100px;
}

.star-list-ra, .star-list-dec {
	width: 120px;
}

.star-list-mag {
	width: 100px;
}

.star-list-id {
    width: 200px;
}

td.star-list-x-pixel, td.star-list-y-pixel, td.star-list-mag {
	text-align: right;
}

td.star-list-ra, td.star-list-dec {
	text-align: center;
}

.star-list-table td {
	font-family: monospace;
	font-size: 12px;
}

.star-list-table th, .star-list-table td {
	padding: 2px 5px 2px 5px;
}

.star-list-table tr.selected {
	background-color: #ff5555;
}
