:root {
    --main-background-colour: #080830;
    --popup-screen-background-colour: rgba(51,51,51,0.7);
    --row-background-colour: #080840;
    --box-color: #080838;
    --button-text-color: #8888ff;
    --button-color: #080880;
    --text-colour: #f8f8ff;
}
